@page "/"

<PageTitle>Главная</PageTitle>

<section class="page-shell home-hero">
    <span class="info-chip">Главная страница магазина</span>

    <div class="home-hero-actions">
        <NavLink class="btn btn-primary" href="/products">Перейти в каталог</NavLink>
    </div>
</section>
